/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    display:block;
}
/*
    UTILITY
*/
.text-pink{
    color:rgb(255, 65, 128);
}
.text-white{
    color:white;
}
.text-aqua{
    color:aqua;
}

.color-blue{
    background-color: rgb(0, 0, 50);
}

/*
    GENERAL
*/
html{
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main>p{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin: 20px;
}

.columns > * {
    float: left;
    width: calc((100% / 3)-20px);
    margin:10px;
    background-color: rgb(0, 0, 50);
}

.columns img {
    width: 100px;
}

.card > * {
    float: left;
    width:calc(100% /2);
    margin:3px;
}